<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
{% load static %}
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Caffe - DAS - Exemplo</title>


    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{% static 'images/android-desktop.png' %}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/ios-desktop.png' %}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{% static 'images/touch/ms-touch-icon-144x144-precomposed.png' %}">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
      <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.grey-orange.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="/static/node_modules/dialog-polyfill/dialog-polyfill.css" />
    <script src="/static/node_modules/dialog-polyfill/dialog-polyfill.js"></script>

    {% if img_list %}
    <style>
      #main-card {
        background-image: url('{{updt_img}}');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: rgb(88, 69, 52);
      }
      .demo-card-image > .mdl-card__actions {
        height: 52px;
        padding: 16px;
        background: rgba(0, 0, 0, 0.2);
      }
      .demo-card-image__filename {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
      }
    </style>
    {% endif %}

  </head>
  <body>
    <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
      <main class="mdl-layout__content">

      <div class="demo-blog__posts mdl-grid">

        <dialog class="mdl-dialog" style="width:50%;">
        <form target="_self" id='form_file' method="post" enctype="multipart/form-data" >
          {% csrf_token %}
          <div class="mdl-dialog__content">
            <input id="i_file" type="file" name="file_path" style="width:100%;">
          </div>
          <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
            <input type="submit" formtarget="form_file" class="mdl-button close">
          </div>
        </form>
        </dialog>

        <div class="demo-card-square mdl-card mdl-shadow--2dp">
          <div id="main-card" class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">
              {% if img_list %}
                {{ label }}
              {% else %}
                Carregue uma foto para buscar
              {% endif %}
            </h2>
          </div>
          <div class="mdl-card__supporting-text">
            <b>Arquivo Original:</b> {{ image }}
          </div>
          <div class="mdl-card__supporting-text">
            <b>Arquivo Salvo no Server:</b> {{ uploaded_file_url }}
          </div>

          <div class="mdl-card__actions mdl-card--border">
            <a id="tt1" class="mdl-button show-modal-pict mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">open_in_browser</i>
              <div class="mdl-tooltip mdl-tooltip--bottom" data-mdl-for="tt1">
                Fazer o carregamento de uma <strong>imagem</strong>
              </div>
            </a>
            <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" form="form_file" type="number" name="spin_number" value=10 step=5 style="width:40px;">
          </div>
        </div>
      </div>
      {% if img_list %}
      <div class="mdl-grid">
        {% for img in img_list %}
        <div class="demo-card-image mdl-cell--expand mdl-shadow--2dp" style="margin: 10px;" >
          <img src="{% static img.path %}"></img>
          <div class="mdl-card__actions">
            <span class="demo-card-image__filename">{{img.label}}</span>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      </main>
      <div class="mdl-layout__obfuscator"></div>
    </div>
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script>
var dialog_pict = document.querySelector('dialog');

var pict_selector = document.querySelector('.show-modal-pict');
if (!(dialog_pict.showModal || dialog_fldr.showModal)) {
  dialogPolyfill.registerDialog(dialog);
}
pict_selector.addEventListener('click', function() {
  dialog_pict.showModal();
});
dialog_pict.querySelector('.close').addEventListener('click', function() {
  dialog_pict.close();
});

    </script>
  </body>
</html>
